body {
  font-family: 'Bellota', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgb(219, 219, 219); */
}

html, body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
}
